.rss-feed-items-container {
    height: 400px;
    width: 500px;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
}

/* this element is placed in order to avoid position:absolute in .rss-feed-inner-container - which in turn causes bugs
with the carousel library*/
.rss-feed-upper{
    visibility: hidden;
    height: 110px;
}

.rss-feed-inner-container{
    height: 200px;
    padding: 10px 0 0;
    box-sizing: border-box;
}

.rss-feed-item-container{
    height: 100%;
    width: 300px;
    border: 3px solid black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 30px;
}

.rss-feed-item-description{
    height: 135px;
}

.rss-feed-item-container img{
    max-width: 100%;
    max-height: 100%;
}

.rss-feed-item-title{
    height: 30px;
}

/* carousel styles */

.carousel-arrows{
    /*position: relative;*/
    height:50px;
    padding: 0 10px;
}

.slick-arrow{
    background-color: #00A2E8;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    outline: none;
    /*position: absolute;*/
}

.slick-prev{
    float: left;
    background-image: url("../res/images/prev.png");
    background-repeat: no-repeat;
    background-position: center;
}

.slick-next{
    float: right;
    background-image: url("../res/images/next.png");
    background-repeat: no-repeat;
    background-position: center;
}