<div class="rss-feed-items-container">
    {{#each items}}
        <div class="rss-feed-item-container">
            <div class="rss-feed-item-title">{{title}}</div>
            <div class="rss-feed-item-description">{{{description}}}</div>
        </div>
    {{/each}}
</div>