<div class="registration-container">
    <label for="rss-filepath" id="">Enter an rss feed address</label>
    <input type="text" id="rss-filepath" name="rss-filepath" />
    <button type="button" id="submit-button">Start feed</button>
</div>