<div class="rss-feed-items-container">
    <div class="rss-feed-upper"></div>
    <div class="rss-feed-inner-container">
        {{#each item}}
            <div class="rss-feed-item-container">
                <div class="rss-feed-item-title">{{title}}</div>
                <div class="rss-feed-item-description">{{{description}}}</div>
            </div>
        {{/each}}
    </div>
</div>